@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
      font-family: 'Poppins', sans-serif;
      margin: 0;
}

h1 {
    padding: 50px;
    text-align: center;
}

.container {
    display: grid;
    margin: 0 50px 0 50px;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    
}

.items {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 15px;
}

.purple {
    background-color: #8087D5;
    color: white;
}


.items > h4 {
    text-align: center;
}

.item4 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    background: url('/img/phone.jpg');
    background-size: cover;
}

.item5 {
    grid-column: 5;
    grid-row: 2;
}

.item6 {
    grid-column: 4;
    grid-row: 3;
}


.item7 {
    grid-column: 5;
    grid-row: 3;
}


.item8 {
    grid-column: 2;
    grid-row: 4;
}


.item9 {
    grid-column: 5;
    grid-row: 3;
}


.item10 {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    background: url('/img/technology.jpg');
    background-size: cover;
}


.item11 {
    grid-column: 2;
    grid-row: 5;
}


.item12 {
    grid-column: 3;
    grid-row: 5;
}

.item13 {
    grid-column: 2;
    grid-row: 6;
}


.item14 {
    grid-column: 3 / span 2;
    grid-row: 6 / span 3;
    background: url('/img/nu-baliwag.jpg');
    background-size: cover;

}


.item15 {
    grid-column: 5;
    grid-row: 6;
}


.item16 {
    grid-column: 6;
    grid-row: 6;
}


.item17 {
    grid-column: 5;
    grid-row: 8;
}


.item18 {
    grid-column: 4;
    grid-row: 9;
}


.footer {
    margin: 20px 0 0 0;
    background: #f1f1f1;
    padding: 10px;
}

h4 {
    text-align: center;
}